<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>e-music</title>
  </head>
  <style>
  body{
    background-image: url("https://thumbs.dreamstime.com/z/vinyl-music-records-background-fake-labels-45529307.jpg")
  }
  .container{
    margin: auto;
    margin-top: 200px;
    width: 600px;
    height: 300px;
    background-color: white;
  }

  h1 {
    font-size: 100px;
    margin-bottom: 0px;
    text-align: center;

  }
  table {
    margin: auto;
    text-align: centers;
    font-size: 30px;
  }

  legend {
    text-align: center;
  }

  </style>
  <body>
    <div class="container">
      <h1>e-music</h1>
      <table class="tittle">
        <tr>
          <th>Anxious</th>
          <th>Angry</th>
        </tr>
        <tr>
          <th>Blah</th>
          <th>Hyper</th>
        </tr>
        <tr>
          <th>Depressed</th>
          <th>Focused</th>
        </tr>
      </table>
      <form>
        <fieldset>
          <legend>Rate Your Mood</legend>
          Happiness:
          <label>1</label><input type="radio" >
        </fieldset>
      </form>
    </div>
  </body>
</html>
